<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <main class="home">
      <h1>Bienvenido</h1>
      <h3>Si ya tienes cuenta<a href="/users/login"> ingresa aquí</a></h3>
      <h3>Si no la tienes<a href="/users/register"> ingresa aquí</a></h3>

    </main>
  </body>
</html>
